[Unit]
Description=o2r muncher
StartLimitIntervalSec=200
StartLimitBurst=6

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=60
ExecStartPre=-/usr/bin/docker pull "{{muncher_role.container.image}}"
ExecStartPre=-/usr/bin/docker create \
  --name "{{muncher_role.container.name}}" \
  -v "{{muncher_role.config.basepath}}:{{loader_role.config.basepath}}" \
  -v "/var/run/docker.sock:/var/run/docker.sock" \
  -e "MUNCHER_BASEPATH={{loader_role.config.basepath}}/" \
  -e "MUNCHER_MONGODB=mongodb://{{muncher_role.config.mongo_host}}:{{muncher_role.config.mongo_port}}/" \
  -e "MUNCHER_PROXY={{proxy.http_proxy}}" \
  -e "MUNCHER_EMAIL_TRANSPORT={{muncher_role.config.email.transport}}" \
  -e "MUNCHER_EMAIL_RECEIVERS={{muncher_role.config.email.receivers}}" \
  -e "MUNCHER_EMAIL_SENDER={{muncher_role.config.email.sender}}" \
  -e "DEBUG=*,-express-session,-express:*,-compression,-body-parser:*,-mquery,-modem" \
  -e "SESSION_SECRET={{muncher_role.config.sessionsecret}}" \
  -p "{{muncher_role.config.port}}:8080" \
  --link "{{muncher_role.config.mongo_host}}:{{muncher_role.config.mongo_host}}" \
  "{{muncher_role.container.image}}"
ExecStart=/usr/bin/docker start -a "{{muncher_role.container.name}}"
ExecStop=/usr/bin/docker stop "{{muncher_role.container.name}}"

[Install]
WantedBy=multi-user.target
