[Service]
Environment="http_proxy={{docker_role.proxy.http_proxy}}"
Environment="https_proxy={{docker_role.proxy.https_proxy}}"
Environment="HTTP_PROXY={{docker_role.proxy.http_proxy}}"
Environment="HTTPS_PROXY={{docker_role.proxy.https_proxy}}"
