[Unit]
Description=o2r inspecter
StartLimitIntervalSec=200
StartLimitBurst=6

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=30
ExecStartPre=-/usr/bin/docker pull "{{inspecter_role.container.image}}"
ExecStartPre=-/usr/bin/docker create \
  --name "{{inspecter_role.container.name}}" \
  -v "{{inspecter_role.config.basepath}}:/tmp/o2r/compendium" \
  -e "INSPECTER_PORT={{inspecter_role.config.port}}" \
  -e "DEBUGME=inspecter" \
  -p "{{inspecter_role.config.port}}:8091" \
  "{{inspecter_role.container.image}}"
ExecStart=/usr/bin/docker start -a "{{inspecter_role.container.name}}"
ExecStop=/usr/bin/docker stop "{{inspecter_role.container.name}}"

[Install]
WantedBy=multi-user.target
