[Unit]
Description=o2r UI
StartLimitIntervalSec=200
StartLimitBurst=6

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=10
ExecStartPre=-/usr/bin/docker pull "{{ui_role.container.image}}"
ExecStartPre=-/usr/bin/docker create \
  --name "{{ui_role.container.name}}" \
  -v "{{ui_role.config.config_file_path.host}}:{{ui_role.config.config_file_path.container}}:ro" \
  -p "{{ui_role.config.port}}:3000" \
  "{{ui_role.container.image}}"
ExecStart=/usr/bin/docker start -a "{{ui_role.container.name}}"
ExecStop=/usr/bin/docker stop "{{ui_role.container.name}}"

[Install]
WantedBy=multi-user.target
