[Unit]
Description=Elasticsearch
StartLimitIntervalSec=200
StartLimitBurst=6

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=120
ExecStartPre=-/usr/bin/docker pull "{{elasticsearch_role.container.image}}"
ExecStartPre=-/usr/bin/docker create \
  --name "{{elasticsearch_role.container.name}}" \
  -v "/etc/elasticsearch-docker/config:/usr/share/elasticsearch/config" \
  --cpu-shares 512 \
  --memory=3g \
  "{{elasticsearch_role.container.image}}"
ExecStart=/usr/bin/docker start -a "{{elasticsearch_role.container.name}}"
ExecStop=/usr/bin/docker stop "{{elasticsearch_role.container.name}}"

[Install]
WantedBy=multi-user.target
