[Unit]
Description=o2r Loader

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=20m
ExecStartPre=-/usr/bin/docker pull "{{loader_role.container.image}}"
ExecStartPre=-/usr/bin/docker create \
  --name "{{loader_role.container.name}}" \
  -v "{{loader_role.config.basepath}}:{{loader_role.config.basepath}}" \
  -v "/var/run/docker.sock:/var/run/docker.sock" \
  -e "LOADER_BASEPATH={{loader_role.config.basepath}}/" \
  -e "LOADER_MONGODB=mongodb://{{loader_role.config.mongo_host}}:{{loader_role.config.mongo_port}}/" \
  -e "SESSION_SECRET={{loader_role.config.sessionsecret}}" \
  -e "DEBUG=*,-express-session,-express:*,-compression,-body-parser:*,-mquery,-modem" \
  -p "{{loader_role.config.port}}:8088" \
  --link "{{loader_role.config.mongo_host}}:{{loader_role.config.mongo_host}}" \
  "{{loader_role.container.image}}"
ExecStart=/usr/bin/docker start -a "{{loader_role.container.name}}"
ExecStop=/usr/bin/docker stop "{{loader_role.container.name}}"

[Install]
WantedBy=multi-user.target
