---
- name: Create data directory
  become: yes
  file:
    path: "{{substituter_role.config.basepath}}"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Create service
  become: yes
  notify:
    - Reload Systemd
    - Remove old o2r-substituter container
  template:
    src: o2r-substituter.service.j2
    dest: "/etc/systemd/system/{{substituter_role.container.name}}.service"
    owner: root
    group: root
    mode: 0600
  register: substitutercreate

- name: Pull image
  when: substitutercreate.changed
  become: yes
  docker_image:
    name: "{{substituter_role.container.image}}"
    state: present
    force: yes

- name: Enable service
  become: yes
  service:
    name: "{{substituter_role.container.name}}"
    enabled: yes

- meta: flush_handlers

- name: Start service
  become: yes
  notify: Wait for o2r-substituter to start up
  service:
    name: "{{substituter_role.container.name}}"
    state: started

- meta: flush_handlers
