const endpoints = [
  "http://o2r-muncher:8080/status",
  "http://o2r-contentbutler:8081/status",
  "http://o2r-bouncer:8083/status",
  "http://o2r-finder:8084/status",
];

module.exports = endpoints;