(function(){
    window.__env = window.__env || {};
    window.__env.server = '{{platform_server}}';
    window.__env.api = '{{platform_api_endpoint}}';
    window.__env.sizeRestriction = 10000000;
    window.__env.disableTracking = false;
    window.__env.enableDebug = false;
    window.__env.piwik = '//o2r.uni-muenster.de/piwik/';
})();