[Unit]
Description=o2r-platform

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=20m
ExecStartPre=-/usr/bin/docker pull "{{platform_role.container.image}}"
ExecStartPre=-/usr/bin/docker create \
  --name "{{platform_role.container.name}}" \
  -v "{{platform_role.config.config_file_path.host}}:{{platform_role.config.config_file_path.container}}:ro" \
  "{{platform_role.container.image}}"
ExecStart=/usr/bin/docker start -a "{{platform_role.container.name}}"
ExecStop=/usr/bin/docker stop "{{platform_role.container.name}}"

[Install]
WantedBy=multi-user.target
